/*----------------------
---Google Font linked---
----------------------*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
}


/*---------------------
--First section style--  
---------------------*/


.container-1 {
  background-color: #161616;
  border-radius: 30px;
  width: 1200px;
  height: 373px;
  margin-top: 50px;
  margin-left: 70px;
  margin-right: 140px;
}

.text-banner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.text-blog {
  margin-top: 30px;
}


.blog-heading {
  color: #ffffff;
  font-size: 30px;
  margin-left: 100px;
}

.paragraph {
  color: #ffffff;
  margin-left: 100px;
}

.watch-button {
  margin-left: 100px;
}

.marcelo {
  margin-top: 33px;
  margin-left: 100px;
}

.first-button {
  text-decoration: none;
  padding: 10px 30px;
  border-radius: 5px;
  color: #ffffff;
  background-color: #dd0000;
}

.first-button:hover {
  background-color: tomato;
}



/*----------------------
--Second section style--  
----------------------*/



.container-elements {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.blog-2 {
  background-color: #161616;
  border-radius: 5px;
  margin-top: 100px;
  margin-right: 15px;
  margin-left: 70px;
  width: 236px;
  height: 200px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-items: center;
}

#nav-link {
  background-color: #dd0000;
  text-decoration: none;
}

.div-element {
  background-color: #ffffff;
  width: 175px;
  height: 40px;
  margin-top: 20px;
  border-radius: 5px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-items: center;
  align-content: center;
}

.div-element>a {
  text-decoration: none;
  color: #ffffff;
}


/* <!----------------------- */
/* ----Video Content style--- */
/* ------------------------> */


.blog-3 {
  margin-top: 100px;
  margin-right: 150px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  row-gap: 20px;
}

.link-transfer>button>a {
  color: black;
  text-decoration: none;
}

.blog-icons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}


/*------------------------
--Upcoming matches style--  
------------------------*/



.blog-matches {
  margin-right: 200px;
  margin-top: 100px;
}

.match-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 20px;
}


.schedule-container {
  width: 312px;
  height: 242px;
  display: grid;
  justify-items: center;

}

.flags {
  display: flex;
}



/*----------------------
------Footer style------  
----------------------*/



footer {
  display: grid;
  align-items: center;
  justify-items: center;
  padding-top: 100px;
  color: #ffffff;
  background-color: #161616;
  width: 100%;
  height: 444px;
  margin-top: 130px;
}

footer>hr {
  padding-inline: 500px;
}

.footer-address>ul>li {
  padding: 15px;
  display: inline-block;
}

.footer-address>ul {
  list-style: none;
}

.social-icon>ul {
  list-style: none;
}

.social-icon>ul>li {
  padding: 10px;
  display: inline-block;
}

.social-icon>ul>li a {
  color: #ffffff;
}

/*-------------------------
----Media-Query-Starts-----
-------------------------*/


/*------------------
---Mobile Devices--- 
------------------*/

@media only screen and (min-width: 400px) and (max-width: 576px) {
  .main {
    justify-content: center;
    align-items: center;
  }

  .container-1 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 90%;
    height: 90%;
    margin: 1em 1em 1em 2em;

  }

  .text-banner {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }

  .paragraph {
    width: 90%;
    text-overflow: ellipsis;
  }

  .text-blog {
    margin: 0%;
    width: 100%;
    display: grid;

  }

  .marcelo {
    margin: 0%;
  }

  .container-elements {
    grid-template-columns: repeat(1, 1fr);
    margin: 0%;
    width: 100%;
  }

  .blog-2 {
    background-color: #ffffff;
    width: 70%;
    margin-top: 0%;

  }

  .div-element {
    border: 1px solid #E8E8E8;
  }

  .blog-3 {
    grid-template-columns: repeat(1, 1fr);
    margin-right: 0%;
    margin-left: 30px;
  }

  footer {
    display: block;
    width: 90%;
    margin-left: 30px;

  }
}