/*----------------------
---Google Font linked---
----------------------*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

/*---------------------
--First section style--  
---------------------*/

.container-1 {
  background-color: #161616;
  border-radius: 30px;
  width: 1200px;
  height: 373px;
  margin-top: 50px;
  margin-left: 70px;
  margin-right: 140px;
}
.text-banner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.text-blog {
  margin-top: 30px;
}
.marcelo {
  margin-top: 33px;
  margin-left: 100px;
}

.blog-heading {
  color: #ffffff;
  font-size: 30px;
  margin-left: 100px;
}
.paragraph {
  color: #ffffff;
  margin-left: 100px;
}
.watch-button {
  margin-left: 100px;
}
.first-button {
  height: 30px;
  width: 110px;
  border-radius: 5px;
  color: #ffffff;
  background-color: #dd0000;
}
.first-button:hover {
  cursor: pointer;
}

/*----------------------
--Second section style--  
----------------------*/

.blog-2 {
  background-color: #161616;
  border-radius: 5px;
  margin-top: 100px;
  margin-left: 70px;
  width: 236px;
  height: 200px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-items: center;
}
.blog-3 {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  row-gap: 20px;
}
.container-elements {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.div-element {
  background-color: #ffffff;
  width: 175px;
  height: 40px;
  margin-top: 20px;
  border-radius: 5px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-items: center;
  align-content: center;
}
#different-button {
  background-color: #dd0000;
  text-decoration: none;
}
.div-element > a {
  text-decoration: none;
  color: #ffffff;
}
.link-transfer > button > a {
  color: black;
  text-decoration: none;
}
.blog-icons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
